<img class="logo" src="/logo.png">

<div class="cities">
<% @cities.each do |city| %>
  <h2><%= link_to "#{city.name}", city %></h2>
  <%= link_to "Delete City", city, method: :delete, data: { confirm: "Are you sure?"} %>
  <%= link_to "Edit City", edit_city_path(city) %>

<% end %>
</div>
<hr>
<%= link_to "New City", new_city_path, class: "btn btn-primary" %>